*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}

header{
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 33px 9%;
    background: transparent;
}

body{
    background-color: rgb(65, 65, 65);
}

.logo{
    font-size: 30px;
    font-weight: 700;
    color: white;
}

.navlist{
    display: flex;  
}

.navlist a{
    color: white;
    margin-left: 60px;
    font-size: 15px;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    transition: all .55s ease;
}

.navlist a:hover{
    border-bottom: 2px solid white;
}

#menu-icon{
    color: white;
    font-size: 35px;
    z-index: 10001;
    cursor: pointer;
    display: none;
}

.hero{
    height: 100%;
    width: 100%;
    min-height: 89vh;
    background: linear-gradient(249.59deg, #0c0c0c 0%, #292929 28.53%, #3d3d3d 75.52%);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 200px;
}

form{
    padding: 50px 55px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    text-align: center;
    width: 340px;
    background: #535353;
}

.input-group{
    display: flex;
    flex-direction: column;
    text-align: left;
}

h2{
    color: white;
    font-size: 35px;
    padding-bottom: 15px;
}

label{
    color: white;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 5px;
}

input, textarea{
    padding: 15px 25px;
    border-radius: 25px;
    margin-bottom: 20px;
    background-color: rgb(168, 186, 192);
    border: 2px solid white;
    color: black;
    outline: none;
}

input::placeholder, textarea::placeholder{
    color:rgb(13, 7, 71);
}

.form-txt{
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.btn{
    display: inline-block;
    color: white;
    background-color:rgb(13, 7, 71);
    border: 2px solid transparent;
    padding: 12px 30px;
    margin: 0 10px;
    line-height: 1.4;
    font-size: 14px;
    font-weight: 500;
    border-radius: 30px;
    transition: all .55s ease;
    cursor: pointer;
}

.btn:hover{
    background-color:rgb(18, 0, 179);
}

iframe{
    width: 340px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
}

footer{
    display: table;
    width: 100%;
    height: 100px;
    background-color: black;
    color: aliceblue;
    text-align: center;
    padding-top: 2%;
}
