*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}

header{
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 33px 9%;
    background: transparent;
}

body{
    background-color: rgb(240, 209, 181);
}

.logo{
    font-size: 30px;
    font-weight: 700;
    color: white;
}

.navlist{
    display: flex;  
}

.navlist a{
    color: white;
    margin-left: 60px;
    font-size: 15px;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    transition: all .55s ease;
}

.navlist a:hover{
    border-bottom: 2px solid white;
}

#menu-icon{
    color: white;
    font-size: 35px;
    z-index: 10001;
    cursor: pointer;
    display: none;
}

.hero{
    height: 100%;
    width: 100%;
    min-height: 89vh;
    background: linear-gradient(249.59deg, #0c0c0c 0%, #292929 28.53%, #3d3d3d 75.52%);
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2 rem;
}

section{
    padding: 0 19%;
}
.hero-text h5{
    font: 14px;
    font-weight: 400;
    color: white;
    margin-bottom: 40px;
}

.hero-text h1{
    font-size: 50px;
    line-height: 1;
    font-family: 'Playfair Display', serif;
    color: white;
    margin: 0 0 30px;
}

.hero-text h4{
    font-size: 18px;
    font-weight: 600;
    color: white;
    margin-bottom: 10px;
}

.hero-text p{
    color: white;
    font-size: 15px;
    line-height: 1.9;
    margin-bottom: 40px;
}

.hero-img img{
    width: 400px;
    height: auto;
    border-radius: 20px;
}

.hero-text a{
    display: inline-block;
    color: white;
    background-color:rgb(13, 7, 71);
    border: 1px solid transparent;
    padding: 12px 30px;
    margin: 0 10px;
    line-height: 1.4;
    font-size: 14px;
    font-weight: 500;
    border-radius: 30px;
    transition: all .55s ease;
}

.hero-text a:hover{
    background: transparent;
    border: 1px solid white;
    transform: translate(8px);
}

footer{
    display: table;
    width: 100%;
    height: 100px;
    background-color: black;
    color: aliceblue;
    text-align: center;
    padding-top: 2%;
}

@media (max-width: 1535px){
    header{
        padding: 15px 3%;
        transition: .2s;
    }
    .icons{
        padding: 0 3%;
        transition: .2;
    }
}

@media (max-width: 1460px){
    section{
        padding: 0 12%;
        transition: .2s;
    }
}

@media (max-width: 1340px){
    .hero-img img{
        width: 100%;
        height: auto;
        border-radius: 20px;
    }
    .hero-text h1{
        font-size: 40px;
        margin: 0 0 30px;
    }
    .hero-text h5{
        margin-bottom: 25px;
    }
}

@media (max-width: 1195px){
    section{
        padding: 0 3%;
        transition: .2s;
    }

    .hero-text{
        padding-top: 115px;
    }

    .hero-img{
        text-align: center;
    }

    .hero-img img{
        width: 560px;
        height: auto;
    }

    .hero{
        height: 100%;
        gap: 1rem;
        grid-template-columns: 1fr;
    }
}

@media (max-width: 990px){
    #menu-icon{
        display: block;
    }

    .navlist{
        position: absolute;
        top: 100%;
        right: -100%;
        width: 300px;
        height: 40vh;
        background-color: #4d9559;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 50px 20px;
        transition: all .55s ease;
    }

    .navlist a{
        margin-left: 0;
        display: block;
        margin: 7px 0;
    }

    .navlist.open{
        right: 0;
    }
}

@media (max-width: 680px){
    .hero-img img{
        width: 100%;
        height: auto;
    }
}